server:
  port: 8072
spring:
 application:
    name: "gatewayserver"
  config:
    import: optional:file:.env[.properties]
  profiles:
    active: test
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - openid
              - profile
              - email
              - https://www.googleapis.com/auth/cloud-platform
            redirect-uri: "http://localhost:8072/login/oauth2/code/google"
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub
  zipkin:
    base-url: http://localhost:9411 #http://zipkin:9411
  sleuth:
    sampler:
      probability: 1.0
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: false # Tells Spring Cloud Gateway to use the DiscoveryClient to locate info about microservices
              lower-case-service-id: true

eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/  # http://eurekaserver:8070/eureka/

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans #http://zipkin:9411/api/v2/spans
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env,loggers,shutdown
  endpoint:
    health:
      show-details: always
    shutdown:
      access: unrestricted

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security.oauth2: DEBUG
    com:
      example:
        gatewayserver: INFO

build:
  version: ${ENROLLMENTS_VERSION:local}

gateway:
  security:
    admin-key: ${ADMIN_KEY}

